body{
    background-color: #fadeda;
    margin: 0;
    padding: 0;
}
.small_font{
    font: 12px  Arial,"宋体";
}
@media screen and (min-width: 992px){
    header,.header{  height: 12.9rem;  }
    footer,.footer{  height: 18rem;  }
}
@media screen and (max-width: 991px){
    header,.header{  height: 16rem;  }
    footer,.footer{  height: 35rem;  }
}
.form-control{
    font: 12px Arial, "宋体";
    color: #666;
}
.form-control:focus,.btn:focus{
    box-shadow: 0 0 0 0;
}