body{
    background-color: #fadeda;
}
.small_font{
    font: 12px  Arial,"ו";
}
@media screen and (min-width: 992px){
    .header{  height: 11rem;  }
    .footer{  height: 18rem;  }
}
@media screen and (max-width: 991px){
    .header{  height: 12rem;  }
    .footer{  height: 35rem;  }
}
.form-control{
    font: 12px Arial, "ו";
    color: #666;
}
.form-control:focus{
    box-shadow: 0 0 0 0;
}