body{
    background-color: #fadeda;
}
div.bg_gray{
    background-color: #909090;
}
/*������*/
ul.nav>li:hover,li.active{
    background-color: #fdb2a4;
}
h6,a{
    color: #333;
}
/*a��ǩ��ʽ*/
a:hover{
    color:#333;
    text-decoration: none;
}
/*΢��ul�빺�ﳵ�Ĵ�ֱ�������*/
.nav-item{
    margin-top: 2px;
}
h3.font-15{
    font: 20px Arial,"����";
    margin-left: 41px;
}
.bg-color{
    background-color: #fbf2f1;
}

input.search{
    background:#fff url(../img/header/icon_ser.jpg) no-repeat right center;
    width: 15rem;
}
input.search:focus{
    border-color: rgb(204,204,204);
}
@media screen and (max-width: 991px){
    input.search{
        width: 20rem;
        margin-bottom: 2rem;
        margin-left: 3rem;
    }
}
@media screen and (max-width: 500px){
    input.search{
        width: 20rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
    }
    h3.font-15{
        margin-left: 30px;
    }
    ul.nav>li:last-child{
        visibility: hidden;
    }
}
