body{
    background-color: #fff;
}
a:hover{
    text-decoration: none;
}
div.bg_gray{
    background-color: #909090;
}
div.bg_lightgray{
    background-color: #f5f5f5;
}
.bg_pink{
    background-color: #feb8ae;
}
/*µ¼º½À¸*/
ul.nav>li:hover,li.active{
    background-color: #fdb2a4;
}
/*ÂÖ²¥Í¼*/
span.prev,span.next{
    width: 45px;
    height: 70px;
    background: url(../img/index/prev_54.png) no-repeat left top;
    position: absolute;
    top: 40%;
}
span.prev{
    left: 22%;
}
span.next{
    background: url(../img/index/next_54.png) no-repeat left top;
    right: 22%;
}
ul.carousel-indicators>li{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgb(0,0,0,0.4);
}
ul.carousel-indicators>li.active{
    background-color: #fdb2a4;
}
h2{
    font: 24px Arial,"ËÎÌå";
}
ul.navbar li.nav-item a.nav-link{
    color: #fff;
}
ul.navbar li.nav-item a.nav-link:hover{
     color: #000;
}
/*×êÊ¯ÅÅ²¼*/
ul>li>a>i{
    display: block;
    height: 50px;
    width: 104px;
    background: url(../img/index/icon_shape.jpg) no-repeat;
}
i.two{
    background-position: -104px 0;
}
i.three{
    background-position: -205px 0;
}
i.four{
    background-position: -301px 0;
}
i.five{
    background-position: -392px 0;
}
i.six{
    background-position: -490px 0;
}
i.seven{
    background-position: -585px 0;
}
i.eight{
    background-position: -674px 0;
}
i.nine{
    background-position: -775px 0;
}
i.ten{
    background-position: -884px 0;
}
ul>li>a>span,ul>li>a:hover{
    color:#b7b7b7;
    text-decoration: none;
}
/*Õ¤¸ñ*/
@media screen and (min-width:1200px){
    div.left_top{
        min-height: 415px;
    }
    div.left_bottom{
        min-height: 226px;
    }
    div.right,div.right>a>img{
        max-height: 649px;
    }
}
@media screen and (min-width:992px) and (max-width: 1200px){
    div.row{
        height: 547px;
    }
    div.left_top{
        min-height: 348px;
    }
    div.left_bottom{
        min-height: 190px;
    }
    div.right,div.right>a>img{
        max-height: 547px;
    }
}
