div.bg_img{
    background-image: url(../img/login/body_bg.jpg);
    background-position: -420px 4px;
    background-size: 350% 100%;
}
h4{
    font: 20px Arial, "ו";
}
a,label,input,span,.btn,h6{
    font: 12px Arial, "ו";
    color: #666;
}
a:hover{
    color: #666;
    text-decoration: none;
}
.form{
    background-color: #fcedea;
    /*height: 300px;*/
}
span,a.login{
    height: 12px;
    color: #ea6c97b5;
}
.btn{
    background-color: #ff8a81;
    color: #fff !important;
    border-radius: 0;
}
a.nav-link{
    background: url(../img/login/qq-btn.jpg) no-repeat left top;
    padding-right: 2rem;
}
a.two{
    background: url(../img/login/weixin-btn.jpg) no-repeat left top;
}
a.three{
    background: url(../img/login/sina-btn.jpg) no-repeat left top;
}
a.four{
    background: url(../img/login/zhifubao-btn.jpg) no-repeat left top;
}
@media screen and (max-width: 500px){
    div.main>div{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}